body {
    background-color:gray;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;


}


h2 {
    color :orange;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-70px;
    margin-right:-120px;
    font-size: 50px;
	text-shadow: #2b2a29 0px 8px 1px;


}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

button#myBtn {
    margin-top:50px;
    margin-left:-90px;
    width:150px;
    height:60px;
    border-radius: 15px;
    box-shadow: 10px 7px 10px  black;
    cursor: pointer;

}


button#myBtn:hover {
    background-color:yellow;
}
/* Modal Content */
.modal-content {
   background-color: #fefefe;
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s

}


/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }




/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #f1b125;
    color: blue;
  }
/* Modal Body */
.modal-body {
    padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color:#f1b125;
  color: blue;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}